@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Ballet:opsz@16..72&family=Kaushan+Script&family=Laila:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "arquitecta", sans-serif;
}

@font-face {
  font-family: "arquitecta";
  src: url("./fonts/Arquitecta.ttf");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "arquitecta";
  src: url("./fonts/ArquitectaMedium.ttf");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "arquitecta";
  src: url("./fonts/ArquitectaBold.ttf");
  font-display: swap;
  font-weight: 700;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 5px;
}
